.dialogs_page {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas: "d m";
  grid-gap: 10px;
}

.messages {
  grid-area: m;
  background-color: #64B874;
  color: white;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
}

.dialogs {
  grid-area: d;
}

.active {
  color: gold;
}