.header {
  grid-area: h;
  background-color: #29994b;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}

.header img {
  width: 50px;
  margin-top: 3px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
  color: white;
}

.link:hover {
  color: bisque;
}
